.color{
    background-color:#007bff;
    text-align: center;
    color:white;
    width:120px;
}

.next{
    width:15%;
    height:100px;
    border-radius:10px ;
    padding-left: 3px;
    border-collapse:separate;
    border-spacing:0;
    border:2px solid gray;


}


th,td,input{
    padding:10px;
    border:1px solid #ddd;
    border-radius:10px ;
}
